.app-container {
  background: linear-gradient(to bottom, skyblue, lavender, pink);
  background-size: 100% 100%;
  color: #fff;
  font-family: Arial, sans-serif;
  height:  auto;
  min-height: 100vh;
}

